body {
    background-color: #EBECF0;
    color: #ACACAC;
    font-family: 'Roboto', sans-serif;
    font-size: 7vw;
    margin: 0;
}

.background {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 12.8vw);
    padding: 6.4vw;
}

.display {
    align-items: center;
    background: linear-gradient(347.91deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
    background-blend-mode: soft-light, normal;
    /*border: 1px solid rgba(255, 255, 255, 0.4);*/
    border-radius: 5.3vw;
    box-shadow:  inset -.53vw -.53vw 2.1vw #FAFBFF, inset .53vw .53vw 2.1vw #A6ABBD;
    box-sizing: border-box;
    display: flex;
    height: 20.5vw;
    justify-content: flex-end;
    margin-top: auto;
    padding: 6.6vw;
    /*width: 87.2vw;*/
}

.buttons {
    margin-top: 14.6vw;
}

.button-row {
    align-items: center;
    display: flex;
}

.button-row:not(:last-child) {
    margin-bottom: 5vw;
}

.button {
    align-items: center;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #EBECF0;
    background-blend-mode: soft-light, normal;
    border: 0;
    /*border-image: linear-gradient(143.13deg, rgba(255, 255, 255, 0.16) 15.83%, rgba(255, 255, 255, 0) 84.51%);*/
    border-radius: 50%;
    box-shadow:  -.53vw -.53vw 2.6vw #FAFBFF, .53vw .53vw 2.6vw #BABFD1;
    color: #ACACAC;
    display: flex;
    font-size: 7vw;
    height: 17.3vw;
    justify-content: center;
    padding: 0;
    width: 17.3vw;
}

.button:not(:last-child) {
    margin-right: 6vw;
}

.button--double {
    border-radius: 8.8vw;
    justify-content: flex-start;
    padding-left: 7vw;
    width: 40.6vw;
}

.button--active {
    background: red;
}

@media screen and (min-width: 992px) {
    body {
        /* background: #EBECF0 url("1881.png") no-repeat center; */
        background-size: cover;
        display: flex;
        font-size: 1.5vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        width: 100vw;
    }

    .background {
        align-items: center;
        display: flex;
        /* height: 100%; */
        justify-content: center;
        left: 38.5vw;
        margin: 0 auto;
        position: absolute;
        top: 4vw;
        width: 24.5vw;
        display: none;
    }

    .background__image {
        /* height: 100%; */
        flex-grow: 0;
        width: 100%;
    }

    .content {
        height: calc(46vw - 2vw);
        margin: 5.3vw auto 0 40.2vw;
        padding: 1vw;
        width: 18.8vw;
    }

    .display {
        border-radius: 0.5vw;
        height: 4.5vw;
        padding: 1.5vw;
    }

    .buttons {
        margin-top: 1vw;
    }

    .button-row:not(:last-child) {
        margin-bottom: 1vw;
    }

    .button {
        font-size: 1.5vw;
        height: 4vw;
        width: 4vw;
    }

    .button:not(:last-child) {
        margin-right: 1vw;
    }

    .button--double {
        padding-left: 1.5vw;
        width: 9vw;
    }
}
